{% extends 'base.html.twig' %}

{# this tempalate is used when customer enters wrong details
is redirected here to correct data
#}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 mt-5 col-lg-offset-3">
				<h2>Register</h2>
			{{ form(form) }}
			</div>
		</div>
	</div>
{% endblock %}
