{% extends 'admin/base.html.twig' %}

{% block body %}
<section class="container">
			{% include 'admin/components/admin-header.html.twig' with {'heading' : 'Add product'} %}
		<div class="row mt-2">
			{{ form(form) }}
		</div>
</section>
{% endblock %}
