{% extends 'admin/base.html.twig' %}

{% block body %}

	<section class="container">
		<div class="row ms-3 ms-sm-2 ms-md-0">
			<div class="col ps-0">
				<h2 class="fw-bold">Items catalog</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-sm-4 my-4">
				<div class="info-block-1 d-flex flex-column text-center">
					<p class="text-light my-1">Items sold total</p>
					<h3 class="text-light fw-bold">1368</h3>
				</div>
			</div>

			<div class="col-12 col-sm-4 my-4">
				<div class="info-block-2 d-flex flex-column text-center">
					<p class="text-light my-1">Sold products of</p>
					<h3 class="text-light fw-bold">$154.234,23</h3>
				</div>
			</div>

			<div class="col-12 col-sm-4 my-4">
				<div class="info-block-3 d-flex flex-column text-center">
					<p class="text-light my-1">Customers total</p>
					<h3 class="text-light fw-bold">1243</h3>
				</div>
			</div>
		</div>

		<div class="row mt-4 mb-2">
			<div class="col">
				<div class="top-search">
					<i class="bi-search top-search__icon"></i>
					<input class="top-search__input" type="search" placeholder="Search...">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<table class="table">

					<thead>
						<tr>
							<th scope="col" class="d-none d-sm-table-cell">#</th>
							<th scope="col" class="d-sm-none">Act.</th>
							<th scope="col">Product</th>
							<th scope="col">Price</th>
							<th scope="col">Qty</th>
							<th scope="col" class="d-none d-sm-table-cell">Category</th>
							<th scope="col" class="d-none d-sm-table-cell">Actions</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<th class="d-none d-sm-table-cell" scope="row">1</th>
							<td class="d-sm-none">
								<button class="btn-trash">
									<i class="bi bi-trash"></i>
								</button>
							</td>
							<td>Winny Minni Shoes Winter</td>
							<td>$375.56</td>
							<td>
								<input type="number" value="1" class="c-cart__qinput">
							</td>
							<td class="d-none d-sm-table-cell">Jackets</td>
							<td class="d-none d-sm-table-cell">
								<a class="btn-trash">
									<i class="bi bi-pencil-square"></i>
								</a>
								<button class="btn-trash">
									<i class="bi bi-trash"></i>
								</button>

							</td>
						</tr>
					</tbody>
	</table>
</div></div></section>{% endblock %}
