{% extends 'admin/base.html.twig' %}

{% block body %}

	<section class="container">
		<div class="row ms-3 ms-sm-2 ms-md-0">
			<div class="col ps-0">
				<h2 class="fw-bold">Customers list</h2>
			</div>
		</div>

		{# STATS GO HERE #}
		{% include 'admin/components/stats.html.twig' with {
			'sold_items': '1999',
			'sold_total': '154.234,23',
			'customers': '432'
		}  %}
		{# ENDS STATS #}

		<div class="row mt-4 mb-2">
			<div class="col">
				<div class="top-search">
					<i class="bi-search top-search__icon"></i>
					<input class="top-search__input" type="search" placeholder="Search...">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="d-none d-sm-table-cell">#</th>
							<th scope="col" class="d-sm-none">Act.</th>
							<th scope="col">Email</th>
							<th scope="col" class="d-none d-md-table-cell">F. name</th>
							<th scope="col" class="d-none d-sm-table-cell">Last name</th>
							<th scope="col" class="d-none d-sm-table-cell">Actions</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<th class="d-none d-sm-table-cell" scope="row">1</th>
							<td class="d-sm-none">
							<a class="btn-trash">
									<i class="bi bi-pencil-square"></i>
								</a>

								<button class="btn-trash">
									<i class="bi bi-trash"></i>
								</button>
							</td>
							<td>Abra@wp.gom</td>
							<td class="d-none d-md-table-cell">
								John
							</td>
							<td class="d-none d-sm-table-cell">Washington</td>
							<td class="d-none d-sm-table-cell">
								<a href="{{ path('edit-customer', { id: '1' } ) }}" class="btn-trash">
									<i class="bi bi-pencil-square"></i>
								</a>
								<button class="btn-trash">
									<i class="bi bi-trash"></i>
								</button>

							</td>
						</tr>
					</tbody>
			</table>
		</div>
		</div>
</section>{% endblock %}
