{% extends 'admin/base.html.twig' %}

{% block body %}
<section class="container">
		<div class="row ms-3 ms-sm-2 ms-md-0">
			<div class="col ps-0">
				<h2 class="fw-bold">Edit item</h2>
				<h3 class="fw-bold"></h2>
			</div>
		</div>
{% endblock %}
