@include media-breakpoint-up(md) {
    .font-smaller {
        font-size: 1rem;
    }
    a.thumbnail-with-button__link {
        width: 20rem;
    }
    .thumbnail-heading {
        bottom: 14%;
    }
    .mobile-slice {
        overflow: visible;
        white-space: normal;
        text-overflow: none;
        max-width: 100%;
    }
    .top-search__input {
        width: 20rem;
    }

    .top-extras__icons a i {
        font-size: 1.2rem;
    }

    a.btn-slider {
        font-size: 1.4rem;
    }

    .slide-text__subhead,
    .slide-text__head {
        font-size: 3rem;
    }
    .image-with-button img {
        width: 100%;
      }
    .shopping-cart-modal {
        width: 400px;
        border-left: 1px solid #ddd;
    }
}
@include media-breakpoint-up(lg) {
   
    .slide-text__subhead,
    .slide-text__head {
        font-size: 3.4rem;
    }
    .user-access__icon {
        display: inline;
    }
    .user-nav-mobile {
        font-weight: 400;
    }
    .mini-item__image {
        width: 100%;
    }
    .mini-item-btn__add {
        width: 150px;
    }
    label #open-sidebar, label #close-sidebar {
        top: 1rem;
    }
}
@include media-breakpoint-up(xl) {
    .slide-text__subhead,
    .slide-text__head {
        font-size: 4rem;
    }
}