{% extends 'base.html.twig' %}
{% block body %}

	<section class="container">
		<div class="row">
		    <div class="col-12">
                  <p>Thank you for contacting us. We will respond as soon as possible.</p>
             </div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
   
{% endblock %}

