{% extends 'shop/base.html.twig' %}

{% block title %}FnStyle shop
{% endblock %}

{% block body %}

	<section class="container customer-order">
    <div class="row">
        <div class="col">
           <h2 class="text-center">Your order</h2>
        </div>
    </div>
 
    </section>

{% endblock %}
