@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Playfair+Display&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@import 'abstract/variables';
@import 'base/grid';
@import 'base/reset';
@import "base/typography";


@import 'components/buttons';
@import 'components/mini-item';
@import 'components/image-button';
@import 'components/price-range';
@import 'components/search-top';
@import 'components/thumbnail-button';

@import 'layout/admin';
@import 'layout/customer-cart';
@import 'layout/footer';
@import 'layout/navigation';

@import "vendor/bs-overwrite";
@import 'vendor/my_slider';
@import 'vendor/navigator';

body {
    background-color: white;
}
.user-access__icon {
    display: none;
}
.user-nav-mobile {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.amt-input {
    width: 3rem;
}
.width-100 {
    width: 100%;
    height: auto;
}
.font-smaller {
    font-size: 0.9rem;
}
$baseBorderRadius: 0;
@import 'base/queries';
@import 'abstract/variables';